[Unit]
Description=Telegram Saver Service
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/telegramsaverbotbeta
ExecStart=/usr/bin/pm2 start deploy/ecosystem.config.js --no-daemon
ExecReload=/usr/bin/pm2 reload all
ExecStop=/usr/bin/pm2 stop all
Restart=always
StandardOutput=append:%h/telegramsaverbotbeta/log/telegramsaver.log
StandardError=append:%h/telegramsaverbotbeta/log/telegramsaver.err.log

[Install]
WantedBy=multi-user.target
